
h2 { color: blue; }

.grd{ color: rgb(240,235,170);background: linear-gradient(to right , #38a092 , #fdbf3b);}

.rabbit { color:pink; }
td { color: purple; }

.dog{ color:orange; }

.cat{ color:skyblue; }

.elephant{ color:gold; }
